/* 通用元件樣式 General Style */

html, 
body {

  /* Box Model */
  width: 100vw;
  height: 100vh;
  
  /* Font or other*/
  background: #808080;
}  

body {
  padding-top: 100px;
}

* {

  /* Box Model */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/*  
.rectangle-outline、.longer-rectangle-outline是用來調整每一個顏色調整區塊的左右邊顯示區塊。
*/

.rectangle-outline {

  /* Positioning */

  /* Display */
  display: inline-block;


  /* Box Model */
  width: 12%;

  /* Font or other */
  text-align: center;

}

.longer-rectangle-outline {
  /* Box Model */
  width: 15%;

}


/*
調整每個顏色的slider元件所擁有的樣式
*/
.slider {

  /* Positioning */

  /* Display */
  -webkit-appearance: none;
  

  /* Box Model */
  width: 60%;
   height: 10px;
  /* Font or other */
  



  /* border: solid 1px #82CFD0;
  border-radius: 8px;
 

  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none; */
}

.slider::-webkit-slider-thumb {

-webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {

-webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}


/* RGB調色控制面板 */
.color-panel {

  /* Positioning */

  /* Box Model */
  margin: 0px auto;
  width: 60%;

  /* Font or other */
  /* border: 2px solid; */
}


/* 
CSS樣式調整：RGB色碼最終結果顯示區塊 

主要由以下三者來構成
1. .input[type="text"]:disabled 對應的元件是用來當色碼顯示結果後的背景，主要會設定固定大小的寬度以及透明度
2. .show-hex-partition、.show-hex-partition::after 這兩者來構成色碼顯示結果(數字部分)，前者用來調整偽元
素的position屬性值，後者才是數字本體，其中內容(content)會以attr這css函式來從html標籤內的屬性(result-text)
來獲取，而這個屬性值可在javascript進行控制。

*/



input[type="text"]:disabled {

  /* Display */


  /* Box Model */
  width: 90%;

  /* Font or other */
  opacity: 0.28;

}

.show-hex-partition {
  /* Positioning */
  position: relative;
}
.show-hex-partition::after {

   /* Positioning */
  position: absolute;
  top: 0;

  /* Font or other */
  content: attr(result-text);
  color: black;
  font-weight: bold;
  font-size: 26px;

}



