/* 通用元件樣式 General Style */

html, 
body {

  /* Box Model */
  width: 100vw;
  height: 100vh;

  /* Font or other*/
  background: #808080;
}  

body {
  padding-top: 100px;
}

* {

  /* Box Model */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* 控制面板 */
.color-panel {

  /* Positioning */

  /* Box Model */
  margin: 0px auto;
  width: 60%;

  /* Font or other */
  /* border: 2px solid; */
}

.rectangle-outline {

  /* Positioning */

  /* Display */
  display: inline-block;
  margin-bottom: 10px;

  /* Box Model */
  width: 12%;

  /* Font or other */
  text-align: center;

}

.longer-rectangle-outline {
  /* Box Model */
  width: 15%;

}

.slider {

  /* Positioning */


  /* Display */


  /* Box Model */
  width: 60%;

  /* Font or other */


}

.show-hex-partition {
  position: relative;
}


input[type="text"]:disabled {

  /* Display */
  /* Box Model */
  width: 90%;
  opacity: 0.28;

}


.show-hex-partition::after {

   /* Positioning */
  position: absolute;
  top: 0;

  /* Font or other */
  content: "#808080";
  color: black;
  font-weight: bold;
  font-size: 26px;

}