html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #333;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .main {
    width: 300px;
    height: 500px;
    background: linear-gradient(161.98deg, #07E3A1 13.65%, rgba(11, 111, 218, 0) 87.85%);
    margin: 100px auto;
  }
  
  /* Bonus for you: center a background image! */
  .bernard-img {
    width: 128px;
    height: 156px;
    background-image: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png);
    background-size: cover;
    background-position: center center;
  }
  
  /* begin your styles here!*/