{{#each numberSet}}
  <span>---</span>
  <div class="d-inline-flex align-items-center justify-content-center bg-info text-white rounded-circle my-4"
    style="width: 30px; height: 30px;">
    {{this}}
  </div>
  <span>---</span>
{{/each}}