
/* 通用元件樣式 General Style */

html, 
body {

  /* Box Model */
  width: 100vw;
  height: 100vh;
  
}  

* {

  /* Box Model */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Font or other */
  background-color: #CAD6E2;
}




/* 負責增加項目至todo list的區塊 */
.todo-header {

  /* Box Model */
 
  /* variables */
  --input-field-border-color: #000000;
  --input-error-sign-display: none;
  --input-error-message-display: none;
}


/* 負責增加項目至todo list的區塊： 輸入區塊 */
.todo-header .input-field {

  /* Box Model */
  border: 1px solid var(--input-field-border-color);

  
}

/* 負責增加項目至todo list的區塊： Add按鈕 */
.todo-header .input-btn {

  /* Font or other */
  background: #768591;  
  color: #ffffff;
}

.todo-header .input-btn:hover {
  /* Font or other */
  opacity: 0.5;  
}

/* 增加項目之區塊(含輸入欄、輸入欄的錯誤符號、輸入欄的錯誤訊息、輸入按鈕) */
.add-item-section {
  /* Positioning */
  position: relative;

  /* Display */
  display: inline-block;

}



/* 增加項目之區塊下: 輸入欄的錯誤符號 */
.add-item-section > .input-error-sign {
  /* Positioning */
  position: absolute;
  top: 25%;
  right: 12%;
  

  /* Display */
  display: var(--input-error-sign-display);

  /* Font or other */
  font-weight: 900; 
  color: #FF665A;

}




/* 增加項目之區塊下: 輸入欄的錯誤訊息 */
.add-item-section > .input-error-message {
  
  /* Positioning */
  position: absolute;
  left: 0%;
  top: 92%;

  /*    Display     */
  display: var(--input-error-message-display);

  /*    Box model   */
  width: 100%;
  margin-left: 5%;
  
  /*    Font or other   */
  color: #FF665A;

}


/* 存放清單和清單項目的區塊 清單 和 清單下的項目  */
/* 清單對應的class 是 .list，而清單下的項目 是 .list-item */
.list-section {

  /* Box Model */
  height: fit-content;
  max-height: 425px;
  margin-left: 3%;
  overflow: auto;
  border-radius: 5px;

  /* Display */
  flex: 0 1 30%;
  
  /* Font or other */
  background-color: #EBECF0;

}

/* 清單 */
.list {

  /* Box Model */
  padding: 1rem;
  margin-top: 1rem;
}

/* 清單下的項目 */
.list > .list-item {

  /* Box Model */
  margin-bottom: 5%;
  padding: 5px; 
  border-radius: 5px;

  /* Font or other */
  background: #ffffff;

}

/* 拖曳項目時會有的樣式 */
.list-item.dragging {
  /* Font or other */
  opacity: .5;
}

/* 勾選已完成的項目之樣式 */
.checked {
  /*    Font or other   */
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

/* 清單項目下的垃圾桶圖示 */
.fa {
  /* Box Model */
  margin: 0 5px;

  /* Font or other */
  color: #bbb;
}

/* 清單項目下的標籤樣式 */
li > label[for='todo'] {

  /* Box Model */
  width: 210px;
  margin: 0;
  
}





