
.checked {
  /*    Font or other   */
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  /* Box Model */
  margin: 0 5px;

  /*    Font or other   */
  color: #bbb;
}

li > label[for='todo'] {

  /* Box Model */
  width: 210px;
  
}


.list__header {
  /*    Variables       */
  --error-sign-display: none;
  --list__input-field-border-color: #ced4da;
}



/* TODO: */
/* 增加項目之區塊(含輸入欄、輸入欄的錯誤標記、輸入按鈕) */
.list__add-item-section {
  /* Positioning */
  position: relative;

  /* Box Model */

}


/* TODO: */
/* 增加項目之區塊下: 輸入欄 */
.list__input-field {
  
  /*    Font or other   */
  border: 1px solid var(--list__input-field-border-color)
}




/* TODO: */
/* 增加項目之區塊下: 輸入欄的錯誤標記 */
.list__add-item-section--error::after {

  /*    Positioning     */
  position: absolute;
  left: 170px;

  /*    Display         */
  display: var(--error-sign-display);

  /*    Font or other   */
  font-family: "FontAwesome"; 
  font-weight: 900; 
  color: #FF665A;
  content: "\f06a";

}

