
* {
  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Box Model */
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  
}


body {

  /* Font or other */
  background-color: #F5F7F8;
}


/* 導覽列 */
.navbar {

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;


  /* Box Model */
  width: 100%;


  /* Font or other */
  background-color: #F5F7F8;

}

/* 導覽列項目連結 */
.nav-link {
  /* Font or other */
  color: #707A82;
}

/* 導覽列項目 */
.nav-item.active {

  /* Font or other */
  border-bottom: 3px solid #403A39;
} 

/* 導覽列項目 */
.nav-item:hover {
    /* Font or other */
  border-bottom: 3px solid #A3A1A8;
}

/* 存放資料面板的容器 */
.card-container {

  /* Box Model */
  margin-top: 8%;

}


@media screen and (max-width: 620px) {
  .search-bar-group:hover > .search-bar-control {
    width: 100px;
    padding: 0 6px;
  }
}



/* 存放搜尋輸入欄的容器 */
.search-bar-group {

    /* Font or other */
    background: #F5F7F8;

    /* Box model */
    height: 40px;
    border-radius: 40px;
    padding: 0px 10px 0px;


}
/* 存放搜尋輸入欄的容器：當滑鼠滑到容器就會變顏色 */
.search-bar-group:hover {
  background: #2f3640;

}

/* 搜尋輸入欄 */
.search-bar-control {

  /* Positioning */
  float: left;


  /* Box Model */
  outline: none;
  border: none;
  width: 0px;
  padding: 0;
    

  /* Font or other */
  background: none;
  color: white;
  font-size: 16px;
  line-height: 40px;


  /* Animation: */
  transition: 0.8s;
    
    

}


/* 搜尋輸入欄：當滑鼠滑到搜尋輸入欄時，輸入欄就拉長 */
.search-bar-group:hover > .search-bar-control {
    /* Box Model */
    width: 50vw;
    padding: 0 6px;
}

/* 搜尋按鈕：當滑鼠滑到搜尋輸入欄，搜尋按鈕會變顏色 */
.search-bar-group:hover > .search-bar-button {

  /* Display */
  background: #2f3640;
  color: #ffffff;
  border: none;
}


/* 搜尋按鈕 */
.search-bar-button {

  /* Box Model */
  width: 40px;
  height: 40px;
  
  border: none;
  border-radius: 50%;


  /* Positioning */ 
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

  /* Font or other */
  background-color: #F5F7F8;
    
  /* Animation: */
  /* 指定滑鼠滑過去的渲染過程以x秒來呈現 */

  transition: 0.8s;
}



/* 存放每個朋友的容器 */
.profile-card {

  /* Positioning */
  position: relative;

  /* Box Model */
  border-radius: 5%;

  /* Font or other */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* 容器存放標題的部分 */
.profile-card .profile-card-title {
  /* Box Model */
  margin: 0;
}

/* 每個朋友的頭像 */
.profile-card .card-avatar {
  /* Box Model */
  border-radius: 5% 5% 0px 0px;
}

/* 每個朋友的加進最愛按鈕 */
.profile-card .btn-show-favorite {
  
  /* Positioning */
  position: absolute;
  top: 10px;
  right: 10px;


  /* Font or other */
  color: #FFCD00;
  font-size: 32px;
  cursor: pointer;
}

/* 搜尋不到東西時的頁面容器(含訊息和動畫) */
.not-found-page {

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box Model ok*/
    width: 100%;
    height: 50vh;

    /* Font or other ok*/
    text-align: center;
}

/* 搜尋不到東西時的顯示訊息 */
.not-found-page h1 {
    /* Display */
    display: inline-block;

    /* Box Model */
    padding-right: 8px;

    /* Font or other ok*/
	font-size: 50px;
    color: #888;

    /* Animation */
    /* 設定一輪0.5秒長度的動畫，並且無限循環，每一次動畫結束後都跟上一輪動畫效果呈現顛倒 */
	animation: typing .5s alternate infinite;
}

/* 搜尋不到東西時的顯示訊息後的陰影動畫 */
@keyframes typing {
    /* 陰影出現在文字之後 */
	from{box-shadow: inset -3px 0px 0px #888;}
    /* 陰影變透明 */
	to{box-shadow: inset -3px 0px 0px transparent;}
}
/* 存放頁數的容器 */
.page-item.active .page-link.profile-link-item {


  /* Box Model */
  border-radius: 5px;
  /* Font or other */
  color: #FFFFFF;
  background: #2f3640;

}
/* 分頁器上的頁數本身 */
.page-link.profile-link-item{

  /* Box Model */
  border: none;

  /* Font or other */
  color: #707A82;
  background: none;
}

/* 分頁器上的箭頭符號 */
.material-icons-outlined.arrow-icon {

  cursor: pointer;
}

