* {
  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Box Model */
  width: 100vw;
  height: 100vh;
  
}


body {

  /* Font or other */
  background-color: #F5F7F8;
}

.navbar {

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;


  /* Box Model */
  width: 100%;


  /* Font or other */
  background-color: #F5F7F8;

}

.nav-link {
  /* Font or other */
  color: #707A82;
}

.nav-link.active {

  /* Font or other */
  border-bottom: 3px solid #403A39;
} 


/* .search-bar { */
  /* Box Model */
  /* width: 30%;
} */
/* 
.search-bar .search-bar-input { */
  /* Box Model */
  /* width: 100%; */


  /* Font or other */

/* } */



@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 100px;
    padding: 0 6px;
  }
}




.searchBox {

    /* Font or other */
    background: #F5F7F8;

    /* Box model */
    height: 40px;
    border-radius: 40px;
    padding: 0px 10px 0px;


}

.searchBox:hover {
  background: #2f3640;

}


/* 滑鼠滑到搜尋輸入欄時，輸入欄就拉長 */
.searchBox:hover > .searchInput {
    /* Box Model */
    width: 50vw;
    padding: 0 6px;
}

/* 滑鼠滑到搜尋輸入欄，搜尋按鈕會變顏色 */
.searchBox:hover > .searchButton {

  /* Display */
  /* display: none; */
  background: #2f3640;
  color: #ffffff;
  border: none;
}



.searchButton {

  /* Box Model */
  width: 40px;
  height: 40px;
  
  border: none;
  border-radius: 50%;


  /* Positioning */ 
  display: flex;
  justify-content: center;
  align-items: center;


  /* 將按鈕置強制浮貼在輸入欄右邊，避免因為Block的輸入欄而導致按鈕放不了同一行 */
  float: right;

  /* Font or other */

  background-color: #F5F7F8;
    

   
  /* Animation: */
  /* 指定滑鼠滑過去的渲染過程以x秒來呈現 */

  transition: 0.8s;
}

.searchInput {

  float: left;
  /* Box Model */
  outline: none;
  border: none;
  width: 0px;
  padding: 0;
    

  /* Font or other */
  background: none;
  color: white;
  font-size: 16px;
  line-height: 40px;
  transition: 0.8s;
    
    

}

