* {
  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Box Model */
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  
}


body {

  /* Font or other */
  background-color: #F5F7F8;
}







.navbar {

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;


  /* Box Model */
  width: 100%;


  /* Font or other */
  background-color: #F5F7F8;

}

.nav-link {
  /* Font or other */
  color: #707A82;
}

.nav-link.active {

  /* Font or other */
  border-bottom: 3px solid #403A39;
} 


.card-container {

  /* Box Model */
  margin-top: 8%;

}


@media screen and (max-width: 620px) {
  .search-bar-group:hover > .search-bar-control {
    width: 100px;
    padding: 0 6px;
  }
}




.search-bar-group {

    /* Font or other */
    background: #F5F7F8;

    /* Box model */
    height: 40px;
    border-radius: 40px;
    padding: 0px 10px 0px;


}

.search-bar-group:hover {
  background: #2f3640;

}


/* 滑鼠滑到搜尋輸入欄時，輸入欄就拉長 */
.search-bar-group:hover > .search-bar-control {
    /* Box Model */
    width: 50vw;
    padding: 0 6px;
}

/* 滑鼠滑到搜尋輸入欄，搜尋按鈕會變顏色 */
.search-bar-group:hover > .search-bar-button {

  /* Display */
  background: #2f3640;
  color: #ffffff;
  border: none;
}



.search-bar-button {

  /* Box Model */
  width: 40px;
  height: 40px;
  
  border: none;
  border-radius: 50%;


  /* Positioning */ 
  display: flex;
  justify-content: center;
  align-items: center;


  /* 將按鈕置強制浮貼在輸入欄右邊，避免因為Block的輸入欄而導致按鈕放不了同一行 */
  float: right;

  /* Font or other */

  background-color: #F5F7F8;
    

   
  /* Animation: */
  /* 指定滑鼠滑過去的渲染過程以x秒來呈現 */

  transition: 0.8s;
}

.search-bar-control {

  /* Positioning */
  float: left;


  /* Box Model */
  outline: none;
  border: none;
  width: 0px;
  padding: 0;
    

  /* Font or other */
  background: none;
  color: white;
  font-size: 16px;
  line-height: 40px;


  /* Animation: */
  transition: 0.8s;
    
    

}



.profile-card {

  /* Positioning */
  position: relative;

  /* Box Model */
  border-radius: 5%;

  /* Font or other */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.profile-card .card-avatar {
  /* Box Model */
  border-radius: 5% 5% 0px 0px;
}

.profile-card .btn-show-favorite {
  
  /* Positioning */
  position: absolute;
  top: 10px;
  right: 10px;


  /* Font or other */
  color: #FFCD00;
  font-size: 32px;
  cursor: pointer;
}

.profile-card .profile-card-title {
  /* Box Model */
  margin: 0;
}



#main{
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
    color: #888;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

.page-item.active .page-link.profile-link-item {


  /* Box Model */
  border-radius: 5px;
  /* Font or other */
  color: #FFFFFF;
  background: #2f3640;

}

.page-link.profile-link-item{

  /* Box Model */
  border: none;

  /* Font or other */
  color: #707A82;
  background: none;
}

.material-icons-outlined.arrow-icon {

  cursor: pointer;
}