@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* 通用元件樣式 General Style */
  html, 
  body {
    /* Font or other */
    width: 100vw;
    height: 100vh;
    background: #333;
  }  
  
  * {
    /* Box Model */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* 設定狀態按鈕為同一種圓角和陰影 */

  .card__status-info-button,
  .card__status-info-button--active {
    border-radius: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  }

/* 設定人物簡介下的使用者名稱、職稱、人物描述為同一字體、粗細程度 */
  .card__user-name, 
  .card__job-title,
  .card__description {
    /* Font or other */
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
  }

/* 設定人物簡介下的使用者名稱、人物描述為同一個顏色 */
  .card__user-name, 
  .card__description {
    /* Font or other */
    color: #000000;
  }

/* 設定卡片本身、人物簡介為同一種圓角 */

  .card, 
  .card__profile {
    border-radius: 20px;
  }



/*** 卡片樣式 ***/
/* 
該簡介包含了以下區塊：
1. 大頭照區塊
2. 狀態按鈕區塊(未有任何狀態時的樣式、有通知時的樣式)
3. 人物簡介區塊(只設定其整體樣式，細部樣式另外設定)
*/


/* 整體卡片樣式 */

  .card {

    /* Positioning */
    position: relative;

    /* Box Model */
    width: 300px;
    height: 500px;
    margin: 100px auto;
    
    /* Font or other */
    background: linear-gradient(161.98deg, #07E3A1 13.65%, rgba(11, 111, 218, 0) 87.85%);
  }

/* 大頭照樣式 */
  .card > .card__avatar {

    /* Positioning */
    position: absolute;
    top: 94px;
    left: 86px;
    z-index: 1;

    /* Box Model */
    width: 128px;
    height: 156px;
    border-radius: 64px;
    
    /* Font or other */
    background-image: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png);
    background-size: cover;
    background-position: center center;
  }
  
/* 未有任何狀態時狀態按鈕樣式 */
  .card > .card__status-info-button {

    /* Positioning */
    position: absolute;
    top: 18px;
    right: 17px;

    /* Box Model */
    width: 30px;
    height: 30px;

    /* Font or other */
    background: #FFFFFF;

  }

/* 通知時的狀態按鈕樣式 */
  .card > .card__status-info-button--active::after {

    /* Positioning */
    position: absolute;
    left: 20px;

    /* Box Model */
    width: 10px;
    height: 10px;

    /* Font or other */
    background: #FF0000;
    content: "";
  }

/* 人物資訊區塊樣式 */
  .card > .card__profile {

    /* Positioning */
    position: absolute;
    top: 200px;

    /* Box Model */
    width: 100%;
    height: 60%;    

    /* Font or other */
    background: #FCFCFC;
  
  }



/*** 人物簡介樣式 ***/

/* 
該簡介包含人物資訊區塊(以card__user-info來代表)。
其人物資訊區塊又包含了以下區塊:
1. 使用者名稱(以card__user-name代表)。
2. 存放職稱的區塊(以card__job-section代表)。
3. 職稱(以card__job-title代表)。
4. 人物描述(以card__desecription代表)。
*/


/* 人物資訊樣式 */
  .card__profile > .card__user-info {
     
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Box Model */
    width: 100%;
    height: 232px;
    margin-top: 68px;
     
  }


/* 使用者名稱樣式 */
  .card__user-info > .card__user-name {

    /* Box Model */
    width: 105px;
    height: 35px;

    /* Font or other */
    font-size: 30px;
    line-height: 35px;
  }

/* 存放職稱的區塊之樣式 */
  .card__user-info > .card__job-section {

    /* Box Model */
    width: 134px;
    height: 20px;
    margin-top: 7px;
    border-radius: 30px;

    /* Font or other */
    background: #000000;
  }

/* 職稱的樣式 */
  .card__user-info > .card__job-section > .card__job-title {

    /* Box Model */
    width: 116px;
    height: 14px;
    margin: 3px 8px 3px 10px;

    /* Font or other */
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    
  }

/* 人物描述的樣式 */
  .card__user-info > .card__description {

    /* Box Model */
    width: 231px;
    height: 112px;
    margin: 20px 35px 38px 34px;

    /* Font or other */
    font-size: 14px;
    line-height: 16px;

  }


  
