@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    background: #333;
  }
  
  * {
    /* Box Model */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 .card__user-name, 
 .card__job-title,
 .card__description {
    /* Font or other */
    font-family: Roboto;
    font-weight: normal;
 }

  
  .card {
    /* Positioning */
    position: relative;

    /* Box Model */
    width: 300px;
    height: 500px;
    margin: 100px auto;
    border-radius: 20px;
    
    /* Font or other */
    background: linear-gradient(161.98deg, #07E3A1 13.65%, rgba(11, 111, 218, 0) 87.85%);
  }


.card > .card__avatar {

    /* Positioning */
    position: absolute;
    top: 94px;
    left: 86px;
    /* 深度 - 調整呈現的優先度 */
    z-index: 1;

    /* Box Model */
    width: 128px;
    height: 156px;
    border-radius: 64px;
    
    /* Font or other */
    background-image: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png);
    background-size: cover;
    background-position: center center;
}
  
.card > .card__status-info {

    /* Positioning */
    position: absolute;
    top: 18px;
    right: 17px;

    /* Box Model */
    width: 30px;
    height: 30px;

    /* Font or other */
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.card > .card__status-info--active::after {
  /* Positioning */
  position: absolute;
  left: 20px;

  /* Box Model */
  width: 10px;
  height: 10px;

  /* Font or other */
  background: #FF0000;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  content: "";
}



.card > .card__profile {

    /* Positioning */
    position: absolute;
    top: 200px;

    /* Box Model */
    width: 100%;
    height: 60%;
    border-radius: 20px;

    /* Font or other */
    background: #FCFCFC;
    
}
/* */
 
/* card__profile */
.card__profile > .card__user-info {
     
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Box Model */
    width: 100%;
    height: 232px;
    margin-top: 68px;
     
}


/* card__user-info */
  .card__user-info > .card__user-name {


    /* Box Model */
    width: 105px;
    height: 35px;

    /* Font or other */
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }
  .card__user-info > .card__job-section {
    /* Box Model */
    width: 134px;
    height: 20px;
    margin-top: 7px;
    border-radius: 30px;

    /* Font or other */
    background: #000000;
  }

  .card__user-info > .card__description {

    /* Box Model */
    width: 231px;
    height: 112px;
    margin: 20px 35px 38px 34px;

    /* Font or other */
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

  }


  .card__user-info > .card__job-section > .card__job-name {

    /* Box Model */
    width: 116px;
    height: 14px;
    margin: 3px 8px 3px 10px;
    /* Font or other */
    
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    
  }

